html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
.top15 {
  padding-top: 15px;
}
.group {
  background-color: rgba(47, 158, 0, 0.08);
  padding-left: 2px;
  padding-right: 5px;
}
.single {
  padding-left: 2px;
  padding-right: 5px;
}
.single .single, .group .single {
  padding: 0;
}

.btn-primary {
  min-width: 70px;
}

.timer {
  background-color: #ff9600;
  border-color: #945700;
}
