.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiListItem-root {
  align-items: unset !important;
}

.MuiListItemIcon-root {
  min-width: 46px !important;
  margin-left: -8px;
  margin-top: 8px;
}

.MuiListItemIcon-root svg {
  height: 22px;
  margin-top: -2px;
  width: 24px;
}

.MuiFab-sizeSmall {
  width: 32px !important;
  height: 32px !important;
}

.MuiFab-root {
  min-height: 32px !important;
}

.MuiListItemText-secondary {
  font-size: 0.675rem !important;
}